@import url("../fonts/font.css");

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
address,
code,
aside,
canvas,
footer,
header,
nav,
section,
article,
summary,
details,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
}

html {
  font-size: 15px;
  font-family: Montserrat, "Noto Sans KR", -apple-system, system-ui, Roboto,
    sans-serif;
  letter-spacing: -0.01rem;
  font-weight: 500;
  @media screen and (max-width: 768px) {
    font-size: 13px;
    font-weight: 400;
  }
  @media screen and (max-height: 564px) {
    font-size: 12px;
  }
}

section,
article,
aside,
details,
footer,
header,
nav {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  background: none;
}

input {
  border: 1px solid;
}

html,
body,
#root {
  height: 100%;
}
